extends base.pug

block content 
    form(method="POST")
        input(placeholder="Title", name="title")
        input(placeholder="Synopsis", name="synopsis")
        input(placeholder="Genres", name="genres")
        input(type="submit", placeholder="Add Movie")