
doctype html 
html(lang="ko")
    head
        title #{pageTitle} | CodeSubSpaceChallenge 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        div
            include partials/header.pug
            block content