doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube Challenge
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        include partials/header.pug
        div 
            block content