extends base.pug

block content
    if !loggedIn
        a(href="/login") login
        a(href="/join") Join
    else
        a(href="/logout") Logout
        a(href="/video/upload") Upload Video
        h1 #{user.username}의 프로필
