extends base.pug

block content
    form(method="POST")
        h3 Upload Video!
        input(placeholder="title" ,requried, name="title")
        input(placeholder="summary", ,requried, name="summary")
        input(placeholder="year", requried, name="year")
        input(placeholder="rating", requried, name="rating")
        input(placeholder="genres", requried, name="genres")
        input(type='Submit')