header 
    div
        a(href="/") &nbsp; Home &nbsp;
        a(href="/trending") &nbsp; Trending &nbsp; 
        a(href="/new") &nbsp; New &nbsp; 
        a(href="/join") &nbsp; Join &nbsp; 
        a(href="/login") &nbsp; Login &nbsp; 
